* {
  font-family: "Bahnschrift";
  text-underline-offset: 4px;
}

h1 {
  color: red;
  font-size: 60px;
}

h2 {
  color: deepskyblue;
  font-size: 40px;
}

hr {
  border: 1px solid gray;
}

p,
ol,
div {
  font-size: 24px;
  width: 80%;
  padding: 1%;
}

form {
  padding: 1%;
}

object#media {
  scale: 0.7;
}

section#images img {
  height: 240px;
}

section#works img {
  width: 300px;
}

section img {
  border: 5px double black;
  border-radius: 20px;
  box-shadow: 10px 10px grey;
}

img:hover {
  cursor: pointer;
  opacity: 0.6;
}

img#pfp2:hover {
  cursor: pointer;
  opacity: 0.6;
}

input,
select,
option,
td {
  font-size: 28px;
}

footer {
  font-size: 20px;
}

nav a button {
  border-radius: 5px;
  font-size: 28px;
  padding: 1%;
  margin-left: 1%;
}

nav a button:hover {
  background-color: red;
  color: white;
  border-color: navy;
}

nav {
  display: inline-flexbox;
}

svg image {
  width: 100px;
  height: 100px;
  cursor: pointer;
  transform-origin: center;
}

svg text {
  font-size: 48px;
  fill: white;
}

svg {
  background-color: black;
}
