* {
  font-family: "Bahnschrift";
  text-underline-offset: 4px;
}

h1 {
  color: red;
  font-size: 60px;
}

h2 {
  color: deepskyblue;
  font-size: 40px;
}

hr {
  border: 1px solid gray;
}

p,
ol {
  font-size: 24px;
  width: 70%;
}

p {
  text-align: center;
}

ol {
  text-align: justify;
}

form,
select,
button {
  padding: 1%;
}

@media (max-width: 1280px) {
  object#media {
    width: 75%;
  }
}

section#fanarts img {
  height: 240px;
}

section#works img {
  width: 300px;
}

section img {
  border: 5px double black;
  border-radius: 20px;
  box-shadow: 10px 10px grey;
}

footer,
select,
input,
textarea,
td {
  font-size: 20px;
  text-align: center;
}

img:hover,
input#paynow:hover {
  cursor: pointer;
  opacity: 0.6;
}

input#paynow {
  width: 10%;
}

select,
option {
  font-size: 16px;
}

button {
  border-radius: 5px;
  font-size: 28px;
  margin-left: 1%;
}

button:hover {
  background-color: red;
  border-color: navy;
  color: white;
}

button#st:hover {
  background-color: blueviolet;
  border-color: gold;
}

nav {
  display: inline-flexbox;
}
