table {
    width: 80%;
}

th,
td {
    width: 33%;
    border: 2px solid black;
    padding: 2%;
    text-align: center;
}

th {
    font-size: 36px;
}

td {
    font-size: 24px;
}

td strong {
    font-size: 28px;
}