table {
    width: 80%;
}

th,
td {
    width: 33%;
    border: 2px solid black;
    padding: 2%;
    text-align: center;
}

th {
    font-size: 36px;
}

td,ol li{
    font-size: 24px;
}

td strong {
    font-size: 32px;
}

td#price {
    font-size: 48px;
}

ol {
    margin-left: 25%;
    margin-right: 25%;
}