img#pfp2:hover {
    cursor: pointer;
    opacity: 0.6;
}

nav a button {
    border-radius: 5px;
    font-size: 24px;
    padding: 1%;
    margin-left: 1%;
}

nav a button:hover {
    background-color: red;
    color: white;
    border-color: navy;
}

nav {
    display: inline-flexbox;
}

svg {
    background-color: black;
}

svg image {
    width: 100px;
    height: 100px;
    cursor: pointer;
    transform-origin: center;
}

svg text {
    font-size: 48px;
    fill: white;
}

p {
    font-size: 20px;
}