* {
    font-family: 'Bahnschrift';
}

h1 {
    color: red;
    font-size: 60px;
}

h2 {
    color: deepskyblue;
    font-size: 40px;
}

hr {
    border: 1px solid gray;
}

p {
    font-size: 28px;
}

section img {
    height: 240px;
    border: 5px double black;
    border-radius: 20px;
    margin-top: 2%;
    margin-left: 2%;
    box-shadow: 10px 10px grey;
}

footer {
    font-size: 20px;
}

